VITE_API_URL=https://api.thinkoutsource.co.za/api
# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=dbname
DB_USER=dbusername
DB_PASS=enter_db_password


SMTP_HOST=someemailaccount
SMTP_PORT=465
SMTP_USER=noreplyemail
SMTP_PASS=emailpassword
SMTP_FROM='Think Outsource <noreply@thinkoutsource.co.za>'

# WhatsApp Business Configuration
# This link will be used in the WhatsApp chat component
VITE_WHATSAPP_LINK=whatsaspplink
# Meta Pixel & Conversion API
META_PIXEL_ID=pixelid
META_ACCESS_TOKEN=accesstoken
META_TEST_EVENT_CODE=TESTnumber
GOOGLE_SHEETS_BRIDGE_URL=googleapi
